
.abt-page {
    margin: 2rem 3rem;
}

.header {
    width: 100%;
    font-size: 200%;
    color: rgba(24, 160, 251, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.045rem;
    padding-bottom: 10px;
}
@media screen and (max-width:480px) {
    .header {
        font-size: 1.5em;
    }
}
@media screen  and (min-width:480px) and (max-width:576px) {
    .header {
        font-size: 1.5em;
    }
}
@media screen  and (min-width:576px) and (max-width:768px) {
    .header {
        font-size: 1.5em;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .header {
        font-size: 1.6em;
    }
}

.company {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#descr-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 8%;
    background: #E1E1E1;
    border-radius: 8px;
    font-size: 2em;
    letter-spacing: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

#descr-text {
    width: 80%;
}

.management {
    width: 100%;
    margin: 3.1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#manag-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    letter-spacing: 1px;
    color:  rgba(24, 160, 251, 1);
   padding-bottom: 1%;
}

.team {
    width: 100%;
    height: 50vh;
    background: #1A83E4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.person-wrapper {
    border:0.5px solid black ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 85%;
    background: rgba(0, 0, 0, 0.65);
}

.photo {
    width: 28%;
}

.details {
    border: 0.5px solid black;
    width: 90%;
    height: 60%;
    align-items: center;
    background: #0E365B;    
}

.intel {
    color: #DCCA87;
    font-size: 90%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    position: relative;
    left: 2%;
    top: 2%;
}

@media screen and (max-width:325px) {
    .abt-page {
        margin: 1.5rem 2rem;
    }
    .company {
        height: 22em;
        font-size: .6rem;
    }
    #descr-text {
        width: 100%;
    }
    #manag-header {
        font-size: 1.2rem;
    }
    .team {
        height: 180vh;
        flex-direction: column;
        gap: 10px;
        
    }
    .person-wrapper {
        width: 248px;
        justify-content: space-around;
        align-items: center;
        font-size: 1.4rem;
        margin: 1em 0;
    }
    .photo {
        width: 52%;
    }
    .intel {
        font-size: .82rem;
    }
}
@media screen and (min-width:325px) and (max-width:480px) {
    .abt-page {
        margin: 1.5rem 1.8rem;
    }
    .company {
        height: 23em;
        font-size: .7rem;
    }
    #descr-text {
        width: 100%;
    }
   
    #manag-header {
        font-size: 1.8rem;
    }
    .team {
        height: 180vh;
        flex-direction: column;
        gap: 10px;
        
    }
    .person-wrapper {
        width: 290px;
        justify-content: space-around;
        align-items: center;
        font-size: 1.4rem;
        margin: 1em 0;
    }
    .photo {
        width: 52%;
    }
    .intel {
        font-size: 1rem;
    }
}
@media screen and (min-width:480px) and (max-width:576px) {
    .abt-page {
        margin: 1.5rem 1.8rem;
    }
    .company {
        height: 23em;
        font-size: .65rem;
    }
    #descr-text {
        width: 100%;
    }
    #manag-header {
        font-size: 1.8rem;
    }
    .team {
        height: 145vh;
        flex-direction: column;
        gap: 10px;
        
    }
    .person-wrapper {
        width: 270px;
        justify-content: space-around;
        align-items: center;
        font-size: 1.4rem;
        margin: 1em 0;
    }
    .photo {
        width: 52%;
    }
    .intel {
        font-size: .8rem;
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    .abt-page {
        margin: 1.5rem 1.8rem;
    }
    .company {
        height: 21em;
        font-size: .65rem;
    }
    #descr-text {
        width: 90%;
    }
    #manag-header {
        font-size: 1.8rem;
    }
    .team {
        height: 30vh;
    }
    .person-wrapper {
        width: 210px;
    }
    .photo {
        width: 52%;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .abt-page {
        margin: 1.5rem 1.8rem;
    }
    .company {
        height: 21em;
        font-size: .8rem;
    }
    #descr-text {
        width: 90%;
    }

    #manag-header {
        font-size: 1.9rem;
    }
    .team {
        height: 20vh;
    }

    .person-wrapper {
        width: 210px;
        font-size: .75rem;
    }
    .photo {
        width: 48%;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .company {
        font-size: .96rem;
    }
    .team {
        height: 70vh;
    }
    .photo {
        width: 48%;
    }
}
@media screen and (min-width:1480px) and (max-width:1600px) {
    .company {
        height: 20em;
        font-size: 1.2rem;
    }
}