
.contact_page {
    margin: 2rem 3rem;
}

#contact-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(24, 160, 251, 1);
    letter-spacing: 0.045rem;
    padding-bottom: 10px;
    
}


.contacts {
    
    width: 100%;
    height: 90vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

p {
    width: 50%;
    position: relative;
    left: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-form {
    background: #E1E1E1;
    width: 34%;
    height: 50vh;
    border: 1px solid black;
    position: relative;
    right: 12%;
}

.reader {

    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: linear-gradient(0deg, rgba(255, 202, 202, 0.2), rgba(255, 202, 202, 0.2)), #F7F7F7;

    position: relative;
    top: 18%;
    left: 18%;

}



.f-name, .Email, .your-message {
    width: 80%;
    margin-bottom: 6%;
    position: relative;
    max-width: 100%;
    min-width: 60%;
}

.your-message {
    font-size: 85%;
    padding: 1.5% 1.5%;
}

#first {
    position: relative;
    right: 28%;
}

#second {
    position: relative;
    right: 33%;
}
#third {
    position: relative;
    right: 30%;
}

.submit-btn {
    color: white;
    background: linear-gradient(180deg, #000000 99.99%, rgba(0, 0, 0, 0) 100%), #FFFFFF;
    border-radius: 10px;
    
    padding: 6px;
    position: relative;
    right: 30%;

}