

.services_section1 {
    margin: 1rem 3rem;
    /*border:  0.5px solid #000000;*/
}

.services_section1 .serv_header {
    font-size: 200%;
    color: rgba(24, 160, 251, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.045rem;
    padding-bottom: 10px;
    
}

/*Website section styling* starts here*/
.services_section1 .Website-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*padding-top: ;*/
    padding-bottom: 5%;

}

.services_section1 .Website-wrapper .web-text-wrapper {
    width: 100%;
    /*border:  0.5px solid #000000;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services_section1 .Website-wrapper .web-text-wrapper .Web-text-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 200%;
    padding-bottom: 7%;
}

.services_section1 .Website-wrapper .web-text-wrapper .web-text {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #F7F7F7;
    width: 70%;
    border-radius: 8px;
    padding: 16% 6%;
}

.services_section1 .Website-wrapper .img-wrapper {
    width: 100%;
    /*border:  0.5px solid #000000;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services_section1 .Website-wrapper .img-wrapper .price-wrapper {
    display: flex;
    
    /*border:  0.5px solid #000000;*/
    width: 70%;
    padding-bottom: 5%;
}

 .price {
    color: #0C3F6D;
    border:  0.5px solid #000000;
    border-radius: 6px;
    margin: 0 20%;
    padding: 1.5% 1.5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    display: flex;
    
}

.services_section1 .Website-wrapper .img-wrapper .price-wrapper .enquire {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 15px;
    background: linear-gradient(0deg, #54B8FC, #54B8FC), #FFFFFF;
    border:  none;
    border-radius: 6px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    cursor: pointer;
}

.services_section1 .Website-wrapper .img-wrapper .price-wrapper .enquire:hover {
    background: #A4C9D5;
}

#amount {
    color: #04B600;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100%;
}

.services_section1 .Website-wrapper .img-wrapper .web-img {
    width: 74%;
    
}

/*Website section styling ends here*/


/*Mobile application styling starts here*/
.services_section1 .Website-wrapper .web-text-wrapper .mobile-text {
    background: linear-gradient(180deg, rgba(203, 46, 46, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #F7F7F7;;
    width: 70%;
    border-radius: 8px;
    padding: 16% 6%;
}


/*Mobile application styling ends here*/


/*Software styling starts here*/

.services_section1 .Website-wrapper .web-text-wrapper .software-text {
    background: linear-gradient(180deg, rgba(3, 191, 213, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #F7F7F7;
    width: 70%;
    border-radius: 8px;
    padding: 16% 6%;
}

.services_section1 .Website-wrapper .img-wrapper .price-wrapper .enquire2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 15px;
    color: white;
    background: linear-gradient(0deg, #000000, #000000), #FFFFFF;
    border:  none;
    border-radius: 6px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    cursor: pointer;
}

.services_section1 .Website-wrapper .img-wrapper .price-wrapper .enquire2:hover {
    background: rgba(0, 0, 0, 0.57);
}

/*Software styling ends here*/

.EnquireForm {
    display: flex;
    flex-direction: column;
}

.text-area {
    padding: 1% 1%;
    max-width: 100%;
    min-width: 100%;
    max-height: 50vh;
    min-height: 25vh;
}

.form-btns-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form-btns {
    padding: 8px 20px;
    color: #F7F7F7;
    background: linear-gradient(180deg, #000000 99.99%, rgba(0, 0, 0, 0) 100%), #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}
.form-btns:hover {
    background: rgba(0, 0, 0, 0.57);
}

.PopInput {
    height: 4vh;
    text-align: left;
    padding: 0 0.3%;
}

.sent {
    display: flex;
    justify-content: center;
    
}